<body>
  <script>
    async function promptText() {
      const taskId = document.getElementById('taskId').value;
      const taskUrl = `http://localhost:3000/task/${taskId}`;

      axios.patch(taskUrl, { prompted: true });
      console.log('prompted!');
    }

    function playAudio() {
      var audio = document.getElementById('audio');
      audio.play();

      setTimeout(promptText(), 5000);
    }
  </script>

  <div class="container">
    <div class="text-center mt-5">
      <h1><%= pageTitle %></h1>
    </div>
    <div class="row">
      <div class="col-xl- mx-auto">
        <div class="card mt-2 bg-light">
          <div class="card-body bg-light">
            <div class="container">
              <label for="prompt_button" style="margin-top: 1em">
                <small>Ctrl+click this</small
                ><a href="http://localhost:3000/prompt/<%= taskformData._task %>"> link </a>
                <small
                  >to open the prompt page in a separate tab and place tab on the secondary
                  monitor.</small
                >
              </label>

              <label for="play_button" style="margin-top: 1em"
                ><small
                  >Please press the play button when you're ready to start the task.</small
                ></label
              >
              <button class="btn btn-primary btn-circle btn-sm" onclick="playAudio()">
                <audio id="audio" src="/audio/task_1_audio.mp3"></audio>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-play"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"
                  />
                </svg>
              </button>
              <form id="task-form" method="POST" action="/responses">
                <div class="controls">
                  <div class="row">
                    <div class="form-group">
                      <input
                        id="taskId"
                        type="hidden"
                        name="_task"
                        class="form-control"
                        value="<%= taskformData._task %>"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group">
                      <input
                        type="hidden"
                        name="task_title"
                        class="form-control"
                        value="<%= taskformData.task_title %>"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group">
                      <label
                        for="<%=
                      taskformData.participant_id %>"
                        ><%= taskformData.participant_id %>
                      </label>
                      <input type="text"" name="participant_id" class="form-control" />
                    </div>
                  </div>

                  <% for (const question in questions) { %>
                  <div class="row">
                    <div class="form-group">
                      <label for="<%= question %>"><%= questions[question] %> </label>
                      <input
                        type="text"
                        id="answer-box"
                        name="<%= question %>"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <% } %>
                  <div class="row">
                    <div class="col-md-12" style="margin-top: 1em">
                      <input
                        type="submit"
                        class="btn btn-success btn-send pt-2 btn-block"
                        value="Submit Task"
                      />
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- /.8 -->
      </div>
      <!-- /.row-->
    </div>
  </div>
</body>
