<body>
  <div class="container">
    <div class="text-center mt-5">
      <h1><%= pageTitle %></h1>
    </div>
    <div class="row">
      <div class="col-lg-7 mx-auto">
        <div class="card mt-2 bg-light">
          <div class="card-body bg-light">
            <div class="container">
              <form id="task-form" method="POST" action="/responses">
                <div class="controls">
                  <div class="row">
                    <div class="form-group">
                      <input
                        type="hidden"
                        name="_task"
                        class="form-control"
                        value="<%= taskformData._task %>"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group">
                      <input
                        type="hidden"
                        name="task_title"
                        class="form-control"
                        value="<%= taskformData.task_title %>"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group">
                      <label
                        for="<%=
                      taskformData.participant_id %>"
                        ><%= taskformData.participant_id %>
                      </label>
                      <input type="text"" name="participant_id" class="form-control" />
                    </div>
                  </div>
                  <% for (const question in questions) { %>
                  <div class="row">
                    <div class="form-group">
                      <label for="<%= question %>"><%= questions[question] %> </label>
                      <input
                        type="text"
                        id="answer-box"
                        name="<%= question %>"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <% } %>
                  <div class="row">
                    <div class="col-md-12" style="margin-top: 1em">
                      <input
                        type="submit"
                        class="btn btn-success btn-send pt-2 btn-block"
                        value="Submit Task"
                      />
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- /.8 -->
      </div>
      <!-- /.row-->
    </div>
  </div>
</body>
