<body>
  <div class="container">
    <div class="text-center mt-5">
      <h1><%= pageTitle %></h1>
    </div>
    <div class="row">
      <div class="col-lg-7 mx-auto">
        <div class="card mt-2 bg-light">
          <div class="card-body bg-light">
            <div class="container">
              <form id="task-form" method="POST" action="/taskform/<%= task_id %>">
                <div class="controls">
                  <div class="row">
                    <div class="form-group">
                      <input type="hidden" name="task_id"" class="form-control" value="<%= task_id
                      %>" />
                    </div>
                  </div>
                  <% for (const question in taskform) { %>
                  <div class="row">
                    <div class="form-group">
                      <label for="<%= question %>"><%= taskform[question] %> </label>
                      <input
                        type="text"
                        id="answer-box"
                        name="<%= question %>"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <% } %>
                  <div class="row">
                    <div class="col-md-12" style="margin-top: 1em">
                      <input
                        type="submit"
                        class="btn btn-success btn-send pt-2 btn-block"
                        value="Submit Task"
                      />
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- /.8 -->
      </div>
      <!-- /.row-->
    </div>
  </div>
</body>
